

.titreccm{
    font-family: 'Roboto-Light';
    color: white;
    background-color: rgb(44, 44, 44);
    border-radius: 5px;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;

}

.exemple{
    background: linear-gradient(180deg,#ca665e, #874e70, #372d77);
    margin-right: 20%;
    margin-left: 20%;
    box-shadow: 5px 5px 10px black; 
    padding : 5px 5px 5px 5px;
    margin-bottom: 20px;
    color: #FAFAD2;

}

.exemple2{
	font-family: 'CaviarDreams_Bold';
    color: #FAFAD2;
}

.notice{
    background: linear-gradient(180deg,#372d77, #874e70, #ca665e);
    margin-right: 20%;
    margin-left: 20%;
    box-shadow: 5px 5px 10px black;	
    padding : 5px 5px 5px 5px;
    color: #FAFAD2;
}

.titrenotice{
	font-family: 'CaviarDreams_Bold';
    color: #FAFAD2;

}

dl 
{
margin-left: 5em;
}


dt
{
width: 16em;
margin:0 0 1em −5em;
font-weight: bold;
font-family: 'CaviarDreams_Bold';
font-size: 20px;
color : #FAFAD2;
}


dd
{
width:100%;
padding: .2em 0 0 0;
margin: 0 0 1em 0;
font-family: 'Roboto-Light';
font-size: 15px;
}

