/*footer*/ 

footer{
  background-color: rgb(44,44,44);
}

.row{
	color: white;
}

img {
	margin-right: 100px;
}

.separateurbas{
    background: linear-gradient(90deg, #2e2d76, #784872, #f37650);
    height: 10px; 
   margin-bottom: 0px;
}