body {
    background-color: #e9e8e8;
}


.separateurhaut{
    background: linear-gradient(90deg, #2e2d76, #784872, #f37650);
    height: 10px; 
    margin-top: -21px;
}

.boutonun {
    font-family: 'Roboto-Light';
    color: white;
    background: linear-gradient(180deg,#47449c, #2c2c2c);
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    
}



.boutondeux {
    font-family: 'Roboto-Light';
    color: white;
    background: linear-gradient(180deg,#47449c, #2c2c2c);
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    font-weight: 50%;
    
    
}

.tag-title{
    font-size: 30px;
}

.btn{
    background: linear-gradient(180deg,#47449c, #2c2c2c);
}

hr{
    background-color: #45429b;
    width: 100%;
    height: 5px;
}

.box {
  background:#2c2c2c;
  transition:all 0.2s ease;
  border:2px solid #45429b;
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 25px;
  background-clip: padding-box;
  padding:0 20px 20px 20px;
  min-height:340px;
  max-height: 340px;
  box-shadow: 10px 10px 5px grey;
}

.box:hover {
  border:2px solid #525C7A;
}

.box span.box-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
   
}

.box .box-content {
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
}
.box .box-content p {
  color:#fff;
  text-transform:none;
}
