/* ESPACE INSCRIPTION */

.titreins{
    font-family: 'Roboto-Light';
    color: white;
    background-color: rgb(44, 44, 44);
    border-radius: 5px;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    
}

.form-horizontal{
    background-color: #e6ba6e;
    margin-right: 30%;
    margin-left: 30%;
    box-shadow: 5px 5px 10px black;


}

.form-group{
    font-family: 'Roboto-Condensed';
    color: rgb(44, 44, 44);
    font-size : 20px;
    padding : 5px 5px;
}

.form-controlinput-md{
    border : 2px #191970 outset;
    font-family: 'CaviarDreams_Bold';
}
.

.btn{
    font-family: 'Roboto-Light';
    color: white;
    background: linear-gradient(180deg,#47449c, #2c2c2c);
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    
    border: 1px black;
    box-shadow: 3px 3px 8px black;

}



/* FIN ESPACE INSCRIPTION */