
body, html {
	height: 100%;
}

body {

}

#main {
  max-width: auto;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
}

h1 {
	width: 50%;
   color: white;
   background-color: navy;
   border-width: 12px; 
   border-radius: 20px;
   font-family: roboto condensed, 45pt; 
   background: linear-gradient(360deg,#2c2c2c, #47449c);
}


mark {
	background-color: navy;
	color: white;
}

header {
	background: linear-gradient(180deg,#372d77, #874e70, #ca665e);
	left: 0;
	margin-top: -35px;
	padding-left: 20px;
  top: 1000px;
  height: 125px;
  width: 100%;
  margin-bottom: 0px;
  margin-right: -10px;
  margin-left: -10px;
}

body{
	color : white;
	background-color: #e9e8e8;
}



.separateurhaut {
	width: 100%;
	height: 200px;
	margin-top 0px;
}

/* ESPACE INSCRIPTION */

.titreins{
    font-family: 'roboto';
    color: white;
    background-color: rgb(44, 44, 44);
    border-radius: 5px;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    
}

.btnins{
    font-family: 'roboto';
    color: white;
    background: linear-gradient(180deg,#47449c, #2c2c2c);
    border-radius: 10px;
    text-align: center;
    display: inline-block;



}


h6, div {
	color: white;
}

a
{
color: white;
text-decoration: none;
}



.boutonun {
    font-family: 'roboto';
    color: white;
    background: linear-gradient(180deg,#47449c, #2c2c2c);
    border-radius: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin-right: 100px;
    margin-left: 31%;
    margin-top: 400px;
}




.boutondeux {
    font-family: 'roboto';
    color: white;
    background: linear-gradient(180deg,#47449c, #2c2c2c);
    border-radius: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    font-weight: 50%;
    margin-left: 100px;
}

.box {
	background: linear-gradient(90deg,#47449c, #2c2c2c) 
	width: 100%;
	border-radius: 30px;
	
	padding: 10px;
	
	
}


.cours-display {
   display: inline-block;
   margin-left: 20px;
   border-radius: 10px;
}

.cours-display a{
   text-decoration: none;
}

.cours-display a:hover {
   transition: all 2s ease;
}

a {
   text-decoration: none;
}


.cookie-alert {
   position: fixed;
   bottom: 20px;
   right:20px;
   border-radius: 10px;
   background:#2f2f2f;
   color:#fff;
   padding:10px 15px;
   width: 240px;
   z-index:100;
}
.cookie-alert a { 
   display:block;
   text-align: center;
   padding:5px 10px;
   margin:8px auto 0 auto;
   border-radius: 10px;
   background:transparent;
   border: 2px solid #46A2D9;
   color:#46A2D9;
   transition: all .3s ease;
}
   .cookie-alert a:hover {
      background: #46A2D9;
      color:#2f2f2f;
   }
@media only screen and (max-width:480px) {
   .cookie-alert {
      text-align: center;
      left: 0; right: 0;;
        margin: 0 auto;
      max-width:700px;
      padding:10px 30px;
   }
}


/*footer*/ 

footer {
	background-color: rgb(44, 44, 44);
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	padding-top: 50px;
  display: block;
  text-align: center;
}

#block {
  display: inline-block;
  padding-top: 0;
  margin: auto;
  width: 30%;

}


