body {
	height: 2000px;
}



h1 {
	width: 50%;
   color: white;
   background-color: navy;
   border-width: 12px; 
   border-radius: 20px;
   font-family: roboto condensed, 45pt; 
   background: linear-gradient(360deg,#2c2c2c, #47449c);
}


mark {
	background-color: navy;
	color: white;
}

header {
	background: linear-gradient(90deg,#2e2d76, #784872, #f37650);
	background-size: 
	left: 0;
	margin-top: -35px;
	padding-left: 20px;
  top: 1000px;
  height: 125px;
  width: 100%;
  margin-bottom: 0px;
  margin-right: -10px;
  margin-left: -10px;
}

body{
	color : white;
	background-color: #e9e8e8;
}



.separateurhaut {
	width: 100%;
	height: 200px;
	margin-top 0px;
}

h6 {
	color: white;
}

div {
	color: white;
}

.box {
	background: linear-gradient(90deg,#47449c, #2c2c2c) /* ou background-color*/
	width: 100%;
	border-radius: 30px;
	margin: 30px;
	padding: 10px;
	shadow: 
	
}


.cours-display {
   display: inline-block;
   margin-left: 20px;
   border-radius: 10px;
}

.cours-display a{
   text-decoration: none;
}

.cours-display a:hover {
   transition: all 2s ease;
}

a {
   text-decoration: none;
}


.cookie-alert {
   position: fixed;
   bottom: 20px;
   right:20px;
   border-radius: 10px;
   background:#2f2f2f;
   color:#fff;
   padding:10px 15px;
   width: 240px;
   z-index:100;
}
.cookie-alert a { 
   display:block;
   text-align: center;
   padding:5px 10px;
   margin:8px auto 0 auto;
   border-radius: 10px;
   background:transparent;
   border: 2px solid #46A2D9;
   color:#46A2D9;
   transition: all .3s ease;
}
   .cookie-alert a:hover {
      background: #46A2D9;
      color:#2f2f2f;
   }
@media only screen and (max-width:480px) {
   .cookie-alert {
      text-align: center;
      left: 0; right: 0;;
        margin: 0 auto;
      max-width:700px;
      padding:10px 30px;
   }
}


/*footer*/ 

footer {
	background-color: rgb(44, 44, 44);
	position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}