@font-face {
    font-family: 'Roboto-Condensed';
    src: url('typos/Roboto-Condensed.ttf');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('typos/Roboto-Light.ttf');
}

@font-face {
    font-family: 'BEBAS__';
    src: url('typos/BEBAS__.TTF');
}

@font-face {
    font-family: 'CaviarDreams_Bold';
    src: url('typos/CaviarDreams_Bold.ttf');
}


body, html {
	height: 100%;
}

p {
  font-family : 'CaviarDreams_Bold';
}


#main {
  max-width: auto;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
}

.titre{
    font-family: 'Roboto-Light';
    color: white;
    background-color: rgb(44, 44, 44);
    border-radius: 5px;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    
}



/*h1 {
	width: 50%;
   color: white;
   border-width: 12px; 
   border-radius: 20px;
   font-family: 'Roboto-Condensed', 45pt; 
   background: linear-gradient(360deg,#2c2c2c, #47449c);
}*/


mark {
	background-color: navy;
	color: white;
}



body{
	color : white;
	background-color: #e9e8e8;
}




a
{
  color: white;
  text-decoration: none;
  font-family : 'CaviarDreams_Bold'
}

a:hover{
  color: #DAA520;

}

.separateurhaut{
    background: linear-gradient(90deg, #2e2d76, #784872, #f37650);
    height: 10px; 
    margin-top: -21px;
  }

.separateurbas{
    background: linear-gradient(90deg, #2e2d76, #784872, #f37650);
    height: 10px; 
   margin-bottom: 0px;
}

.boutonun {
    font-family: 'Roboto-Light';
    color: white;
    background: linear-gradient(180deg,#47449c, #2c2c2c);
    border-radius: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin-right: 100px;
    
    margin-top: 150px;
}




.boutondeux {
    font-family: 'Roboto-Light';
    color: white;
    background: linear-gradient(180deg,#47449c, #2c2c2c);
    border-radius: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    font-weight: 50%;
    margin-left: 100px;
}


.box {
	background: linear-gradient(90deg,#47449c, #2c2c2c) 
	width: 100%;
	border-radius: 30px;
	
	padding: 10px;
	
	
}


.cours-display {
   display: inline-block;
   margin-left: 20px;
   border-radius: 10px;
}

.cours-display a{
   text-decoration: none;
}

.cours-display a:hover {
   transition: all 2s ease;
}

.cookie-alert {
   position: fixed;
   bottom: 20px;
   right:20px;
   border-radius: 10px;
   background:#2f2f2f;
   color:#fff;
   padding:10px 15px;
   width: 240px;
   z-index:100;
}
.cookie-alert a { 
   display:block;
   text-align: center;
   padding:5px 10px;
   margin:8px auto 0 auto;
   border-radius: 10px;
   background:transparent;
   border: 2px solid #46A2D9;
   color:#46A2D9;
   transition: all .3s ease;
}
   .cookie-alert a:hover {
      background: #46A2D9;
      color:#2f2f2f;
   }
@media only screen and (max-width:480px) {
   .cookie-alert {
      text-align: center;
      left: 0; right: 0;;
        margin: 0 auto;
      max-width:700px;
      padding:10px 30px;
   }
}


/*footer*/ 

footer{
  background-color: rgb(44,44,44);
}

